<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tank Finder</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>tenken_adak</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
<false/>
<!-- شناسه AdMob پروژه Tanken -->
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-1909436077319120~2545934521</string>

    <!-- مجوزهای موقعیت مکانی و اعلان -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>برای یافتن نزدیک‌ترین جایگاه‌های سوخت به موقعیت شما نیاز است.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>برای یافتن نزدیک‌ترین جایگاه‌های سوخت به موقعیت شما نیاز است.</string>
    <key>NSUserNotificationUsageDescription</key>
    <string>برای یادآوری سرویس خودرو و هشدار قیمت سوخت به اعلان نیاز است.</string>

    <!-- مجوز باز کردن لینک‌ها (https, http, geo, Apple Maps, Google Maps) -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>http</string>
        <string>https</string>
        <string>geo</string>
        <string>maps</string>
        <string>comgooglemaps</string>
    </array>

    
</dict>
</plist>
